<div>
    <div class="home-banner">
      <div class="container">

        <div class="row">
          <div class="col-sm-12">
            <div class="content-showcase hidden-xs"><div class="screen"><img src="images/logos/content.gif"></div></div>
              <h1>Digital Signage <br>Content Management</h1>
              <h2>free to use</h2>
              <div class="content-showcase visible-xs"><div class="screen"><img src="images/logos/content.gif"></div></div>
            </div><!--col-->
          </div> 
          <div class="counters-block">
            <ul class="list-unstyled">
              <li><h3 id="odometer" class="odometer">0</h3><p>Total Networks</p></li>
              <li><h3 id="odometer2" class="odometer">0</h3><p>Added Yesterday</p></li>
              <li><h3 id="odometer3" class="odometer">0</h3><p>Countries with Active Displays</p></li>
            </ul>
          </div><!--counters-block-->
        </div><!--container-->
      </div><!--home-banner-->

      <div class="home-features">
        <div class="container" vertilize-container>
          <h2 class="green-line">Manage an Unlimited Number of Displays Anywhere in the World.</h2>             
          <div ng-include="'partials/page-partials/homepage-boxes.html'" scope="" onload=""></div>
          </div><!--container-->
    </div><!--home-features-->


  <div class="home-pricing">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">          
          <h2>Unlimited Displays for Free?</h2>
          <p>Yes. If you host your media we will deliver it anywhere in the world for free. Or, use the premium products provided in our <a href="https://store.risevision.com/">Store</a> to enhance your content and service. The choice is always yours.</p>
          <a href="pricing.html" class="btn btn-primary btn-hg">View Pricing <i class="fa fa-chevron-circle-right icon-right"></i></a>
          <a href="webinars.html" class="btn btn-default btn-hg">Sign Up for the Getting Started Webinar</a>
        </div><!--col-->
      </div><!--row-->
    </div>
  </div><!--home pricing-->

  <div class="home-logos">
    
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h2>Who Uses Rise Vision?</h2>
      <p>We have displays in <strong>120</strong> countries around the world and just yesterday we added <strong>114</strong> new network accounts. All you need to get started is a Google Account, we don’t ask any questions - but we have noticed these well known organizations are using us:</p>
        </div><!--col-->
      </div><!--row-->


      
          <ul class="logos-list list-unstyled">
            <li><img src="images/logos/spotify.png" scale="0"></li>
            <li><img src="images/logos/eharmony.png" scale="0"></li>
            <li><img src="images/logos/sarmy.png" scale="0"></li>
            <li><img src="images/logos/montana.png" scale="0"></li>
            <li><img src="images/logos/duke.png" scale="0"></li>
            <li><img src="images/logos/hazelton.png" scale="0"></li>
            <li><img src="images/logos/google.png" scale="0"></li>
            <li><img src="images/logos/uf.png" scale="0"></li>
            <li><img src="images/logos/jp.png" scale="0"></li>
            <li><img src="images/logos/peiwei.png" scale="0"></li>
            <li><img src="images/logos/pennstate.png" scale="0"></li>
            <li><img src="images/logos/choc.png" scale="0"></li>
            <li><img src="images/logos/uaj.png" scale="0"></li>
            <li><img src="images/logos/ndsu.png" scale="0"></li>
            <li><img src="http://www.risevision.com/wp-content/themes/wprisevision/assets/img/_home/_who-uses/costco.png" scale="0"></li>
            <li><img src="images/logos/sac.png" scale="0"></li>
            <li><img src="images/logos/asd.png" scale="0"></li>
            <li><img src="images/logos/jaypeak.png" scale="0"></li>
            <li><img src="images/logos/bbdo.png" scale="0"></li>
            <li><img src="images/logos/juilliard.png" scale="0"></li>
            <li><img src="images/logos/rbc.png" scale="0"></li>
            <li><img src="images/logos/ud.png" scale="0"></li>
            <li><img src="images/logos/colorado.png" scale="0"></li>
            <li><img src="images/logos/ucla.png" scale="0"></li>
          </ul>

           <!-- Place somewhere in the <body> of your page -->
 <div id="carousel" class="flexslider">
  <ul class="slides">
    <li><img src="images/logos/image32.jpg"/></li>
  <li><img src="images/logos/image3.jpg"/></li>
  <li><img src="images/logos/image4.jpg"/></li>
  <li><img src="images/logos/image5.jpg"/></li>
  <li><img src="images/logos/image6.jpg"/></li>
  <li><img src="images/logos/image7.jpg"/></li>
  <li><img src="images/logos/image8.jpg"/></li>
  <li><img src="images/logos/image9.jpg"/></li>
  <li><img src="images/logos/image10.jpg"/></li>
  <li><img src="images/logos/image25.jpg"/></li>
  <li><img src="images/logos/image26.jpg"/></li>
  <li><img src="images/logos/image27.jpg"/></li>
  <li><img src="images/logos/image44.jpg"/></li>
  <li><img src="images/logos/image29.jpg"/></li>
  <li><img src="images/logos/image30.jpg"/></li>
  <li><img src="images/logos/image31.jpg"/></li>
  <li><img src="images/logos/image32.jpg"/></li>
  <li><img src="images/logos/image33.jpg"/></li>
  <li><img src="images/logos/image34.jpg"/></li>
  <li><img src="images/logos/image35.jpg"/></li>
  <li><img src="images/logos/image36.jpg"/></li>
  <li><img src="images/logos/image42.jpg"/></li>
  <li><img src="images/logos/image38.jpg"/></li>
  <li><img src="images/logos/image39.jpg"/></li>
  <li><img src="images/logos/image40.jpg"/></li>
  <li><img src="images/logos/image37.jpg"/></li>
  </ul>
</div>  

<div id="slider" class="flexslider half-top">
  <ul class="slides">
    <li><img src="images/logos/image32.jpg"/></li>
  <li><img src="images/logos/image3.jpg"/></li>
  <li><img src="images/logos/image4.jpg"/></li>
  <li><img src="images/logos/image5.jpg"/></li>
  <li><img src="images/logos/image6.jpg"/></li>
  <li><img src="images/logos/image7.jpg"/></li>
  <li><img src="images/logos/image8.jpg"/></li>
  <li><img src="images/logos/image9.jpg"/></li>
  <li><img src="images/logos/image10.jpg"/></li>
  <li><img src="images/logos/image25.jpg"/></li>
  <li><img src="images/logos/image26.jpg"/></li>
  <li><img src="images/logos/image27.jpg"/></li>
  <li><img src="images/logos/image44.jpg"/></li>
  <li><img src="images/logos/image29.jpg"/></li>
  <li><img src="images/logos/image30.jpg"/></li>
  <li><img src="images/logos/image31.jpg"/></li>
  <li><img src="images/logos/image32.jpg"/></li>
  <li><img src="images/logos/image33.jpg"/></li>
  <li><img src="images/logos/image34.jpg"/></li>
  <li><img src="images/logos/image35.jpg"/></li>
  <li><img src="images/logos/image36.jpg"/></li>
  <li><img src="images/logos/image42.jpg"/></li>
  <li><img src="images/logos/image38.jpg"/></li>
  <li><img src="images/logos/image39.jpg"/></li>
  <li><img src="images/logos/image40.jpg"/></li>
  <li><img src="images/logos/image37.jpg"/></li>
  </ul>
</div>

  </div><!--container-->         
</div><!--home logos-->


<div ng-include="'partials/page-partials/get-started.html'" scope="" onload=""></div>
<div ng-include="'partials/page-partials/footer.html'" scope="" onload=""></div>
 
</div>