

<div class="website">
    <!-- Header Nav -->
  <!-- Header Nav -->
  <!-- <div ng-init="navs = [{
    url:'pricing.html',
    label:'Pricing'
    },
    {
    url:'webinars.html',
    label:'Webinars'
    },
    {
    url:'blog.html',
    label:'Blog'
    }
    ]">
  </div> -->
    <!-- Main View -->
  <!-- <div ng-include="'../../partials/common-header.html'" scope="" onload=""></div> -->



  <div class="page-header">
    <div class="container">
      <h2 class="green-line">Pricing</h2>
    </div>
  </div>

  <div class="page-content">
    <div class="container" vertilize-container>
      <div ng-include="'partials/page-partials/pricing-options.html'" scope="" onload=""></div>
    </div>
  </div>

<div ng-include="'partials/pages-partials/get-started.html'" scope="" onload=""></div>
<div ng-include="'partials/page-partials/footer.html'" scope="" onload=""></div>

  


</div>
