<div class="row">
  <div class="col-sm-12">
    <div class="feature">
      <div class="content-box-body">
      <div class="image"><img src="logos/training.png"></div>
      <h3>Have you taken our getting started webinar?</h3>
      <p>If not, it’s a great overview of our platform in 30 minutes or less. Don’t like public webinars or you have specific needs? Take a <a href="#">private one-on-one training</a> session or sign up for <a href="#">priority support</a>.</p>
      <a href="webinars.html" class="btn btn-primary btn-lg">Sign Up for the Getting Started Webinar</a>
      </div>
    </div>
  </div><!--col-->
</div><!--row-->

<div class="row">
  <div class="col-sm-6">
    <div class="feature" vertilize>
      <div class="content-box-body">
      <div class="image"><img src="logos/hardware.png"></div>
      <h3>Need a computer to drive your displays?</h3>
      <p>Compare the digital signage <a href="https://store.risevision.com/">media player</a> options that we have available in our Store.</p>
      </div>
    </div>
  </div> 
  <div class="col-sm-6">
    <div class="feature" vertilize>
      <div class="content-box-body">
      <div class="image"><img src="logos/apps.png"></div>
      <h3 style="letter-spacing:-1px">Creating custom content or applications with our public API’s and open source code?</h3>
      <p>Be sure to visit our <a href="https://developer.risevision.com/">developer resources</a> before you get started.</p>
      </div>
    </div>
  </div>   
</div><!--row-->

<div class="row">
  <div class="col-sm-6">
    <div class="feature" vertilize>
      <div class="content-box-body">
      <div class="image"><img src="logos/widgets.png"></div>
      <h3>Need help with a creative project?</h3>
      <p>Browse the <a href="https://store.risevision.com/">graphic & web design</a> services that we have available.</p>
      </div>
    </div>
  </div><!--col-->
  
  <div class="col-sm-6">
    <div class="feature" vertilize>
      <div class="content-box-body">
      <div class="image"><img src="logos/community.png"></div>
      <h3>Want get involved in our vibrant community?</h3>
      <p>Learn best practices and get advice from other users? Join the <a href="https://community.risevision.com/">community</a>.</p>
      </div>
    </div>
  </div>
</div><!--row-->
