<div class="container">
  <div class="row">
    <div class="col-sm-7">
      <h2 class="green-line">Rise Player</h2>
    </div>
    <div class="col-sm-5">
      <div class="content-box player-install">
        <a href="index.html" class="btn btn-hg btn-primary">Install Player <i class="fa fa-download icon-right"></i></a>
        <p>Rise Player can run anywhere that Chrome runs, but take note that we only test and support <a href="https://help.risevision.com/user/player/chrome-app/chrome-player-linux">Ubuntu</a>, <a href="https://help.risevision.com/user/player/chrome-app/chrome-player-windows">Windows</a>, <a href="https://help.risevision.com/user/player/chrome-app/configure-kiosk-mode">Chrome OS</a> and <a href="https://help.risevision.com/user/player/chrome-app/chrome-player-mac">Mac OS X</a>.</p>
      </div><!--content-box-->
    </div>
  </div>
  <p class="lead">Rise Player is a Chrome Application that is installed on a computer that is attached to your digital signage display. That computer, or as we commonly call it, media player, runs the Rise Player application and it picks up and shows your content according to the schedule you create.</p>    
</div>