<div class="row">
  <div class="col-sm-6">
    <div class="feature" vertilize>
      <div class="content-box-body">
      <div class="image"><img src="logos/apps.png"></div>
      <h3>Apps</h3>
      <p>Use our public API’s and open source applications to create your apps and market them to our digital signage users.</p>
      </div>
    </div><!--feature-->
  </div><!--col-->
  <div class="col-sm-6">
    <div class="feature" vertilize>
      <div class="content-box-body">
      <div class="image"><img src="logos/widgets.png"></div>
      <h3>Widgets</h3>
      <p>Have some awesome digital signage content? Turn it into a widget and list it in the Store.</p>
      </div>
    </div>
  </div><!--col-->
</div><!--row-->
<div class="row">
  <div class="col-sm-6">
    <div class="feature" vertilize>
      <div class="content-box-body">        
      <div class="image"><img src="logos/services.png"></div>
      <h3>Services</h3>
      <p>Content design, support, training, installation, consulting, etc.</p>
      </div>
    </div>
  </div><!--col-->
  <div class="col-sm-6">
    <div class="feature" vertilize>
      <div class="content-box-body">
      <div class="image"><img src="logos/hardware.png"></div>
      <h3>Hardware</h3>
      <p>Media players, displays, mounts, accessories, etc.</p>
      </div>
    </div>
  </div>
</div><!--row-->
