<div class="hidden-xs">
<div class="row">
  <div class="col-sm-6">
    <div class="feature" vertilize>
      <div class="content-box-body">
        <div ng-include="'recorded-webinar.html'" scope="" onload=""></div>
      </div>
    </div><!--feature-->
  </div><!--col-->
  <div class="col-sm-6">
    <div class="feature" vertilize>
      <div class="content-box-body">
        <div ng-include="'private-training.html'" scope="" onload=""></div>
      </div>
    </div>
  </div><!--col-->
</div><!--row-->

<div class="row">
  <div class="col-sm-6">
    <div class="feature" vertilize>
      <div class="content-box-body">
        <div ng-include="'creative-services.html'" scope="" onload=""></div>
      </div>
    </div>
  </div><!--col-->
  
  <div class="col-sm-6">
    <div class="feature" vertilize>
      <div class="content-box-body">
        <div ng-include="'community.html'" scope="" onload=""></div>
      </div>
    </div>
  </div>
</div><!--row-->

<div class="row">
  <div class="col-sm-6">
    <div class="feature" vertilize>
      <div class="content-box-body">
        <div ng-include="'hardware.html'" scope="" onload=""></div>
      </div>
    </div>
  </div> 
  <div class="col-sm-6">
    <div class="feature" vertilize>
      <div class="content-box-body">
        <div ng-include="'developer-resources.html'" scope="" onload=""></div>
      </div>
    </div>
  </div><!--col-->  
</div><!--row-->
</div>

<div class="visible-xs">
<div class="row">
  <div class="col-sm-6">
    <div class="feature">
      <div class="content-box-body">
        <div ng-include="'recorded-webinar.html'" scope="" onload=""></div>
      </div>
    </div><!--feature-->
  </div><!--col-->
  <div class="col-sm-6">
    <div class="feature">
      <div class="content-box-body">
        <div ng-include="'private-training.html'" scope="" onload=""></div>
      </div>
    </div>
  </div><!--col-->
</div><!--row-->

<div class="row">
  <div class="col-sm-6">
    <div class="feature">
      <div class="content-box-body">
        <div ng-include="'creative-services.html'" scope="" onload=""></div>
      </div>
    </div>
  </div><!--col-->
  
  <div class="col-sm-6">
    <div class="feature">
      <div class="content-box-body">
        <div ng-include="'community.html'" scope="" onload=""></div>
      </div>
    </div>
  </div>
</div><!--row-->

<div class="row">
  <div class="col-sm-6">
    <div class="feature">
      <div class="content-box-body">
        <div ng-include="'hardware.html'" scope="" onload=""></div>
      </div>
    </div>
  </div> 
  <div class="col-sm-6">
    <div class="feature">
      <div class="content-box-body">
        <div ng-include="'developer-resources.html'" scope="" onload=""></div>
      </div>
    </div>
  </div><!--col-->  
</div><!--row-->
</div>


<script type="text/ng-template" id="recorded-webinar.html">
  <div class="image"><img src="logos/recorded.png"></div>
  <h3>Can’t make the live webinar?</h3>
  <p>Watch a <a href="#">recorded session</a> whenever works best for you.</p>
</script>

<script type="text/ng-template" id="private-training.html">
  <div class="image"><img src="logos/training.png"></div>
  <h3>Have a particular training or support need?</h3>
  <p>Sign up for a <a href="https://store.risevision.com/">private one-on-one training session or take out a <a href="https://support.risevision.com/">priority support</a> subscription.</p> 
</script>

<script type="text/ng-template" id="creative-services.html">
  <div class="image"><img src="logos/widgets.png"></div>
  <h3>Need help with a creative project?</h3>
  <p>Browse the <a href="https://store.risevision.com/">graphic & web design</a> services that we have available.</p>  
</script>

<script type="text/ng-template" id="community.html">
  <div class="image"><img src="logos/community.png"></div>
  <h3>Want get involved in our vibrant community?</h3>
  <p>Learn best practices and get advice from other users? Join the <a href="https://community.risevision.com/">community</a>.</p> 
</script>

<script type="text/ng-template" id="hardware.html">
  <div class="image"><img src="logos/hardware.png"></div>
  <h3>Need a computer to drive your displays?</h3>
  <p>Compare the digital signage <a href="https://store.risevision.com/">media player</a> options that we have available in our Store.</p>  
</script>

<script type="text/ng-template" id="developer-resources.html">
  <div class="image"><img src="logos/apps.png"></div>
  <h3 style="letter-spacing:-1px">Creating custom content or applications with our public API’s and open source code?</h3>
  <p>Be sure to visit our <a href="https://developer.risevision.com/">developer resources</a> before you get started.</p>  
</script>
